:root{
    --main-fs-p:28px;
    --main-fs-h1:60px;
    --main-fs-nav:30px;
    
}
*{
   margin: 0;
   padding: 0; 
}
html,
body{
   font-family: 'Montserrat', sans-serif;
   height: 100%;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content{
    flex:1 0 auto;

}
.footer{
     flex:0 0 auto;
     height: 100px;
}
.navbar{
   display: flex;
   /* justify-content: space-between; */
   padding: 20px 10vmin;
   font-size: var(--main-fs-nav);
   
}
.logo{
    width: 80px;
    
}
.collapse{
    margin-left: 50px;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 170px 20vmin;
    /* border: solid red; */
    gap:50px
}

.main-left{
    max-width: 580px;
    min-width: 300px;
    /* border: solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    order: 1;
}
.hello{
    width: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    
}
.hello p{
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: var(--main-fs-p);
    font-weight: 500;
}
.main-left h1{
    letter-spacing: 3px;
    word-spacing: 15px;
    padding-top: 10px;
    font-size: var(--main-fs-h1);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.main-left .webdev{
    letter-spacing: 1px;
    word-spacing: 10px;
    font-size: calc(var(--main-fs-p) + 5px);
    font-weight: 500;
}
.main-left .social{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.social li{
    display: inline;
    font-size: calc(var(--main-fs-p) + 15px);
}
.social li:not(:first-child){
    padding-left: 20px;
}
li > a{
    text-decoration: none;
    color:#0cc2f5;
}
li > a:hover{
    color:rgb(14, 61, 95);
}
.main-right{
   
    /* border: solid blue; */
    display: flex;
    justify-content: end;
    flex-grow: 1;
    order: 2;
}
.wrapper {
    width: 450px;
    height: 450px;
    
    background: rgba(200,200,200,0.4) url('./images/img1.png');
    background-repeat: no-repeat;
    background-position: right 50px;
    background-size: contain;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 20px #6c6c6c, 0 0 0px 40px #999, 0 0 0px 60px #e9e9e9;
}
.skills{
    /* border:solid green; */
    padding: 50px 20vmin;

}
.skills-h1{
    text-align: center;
    font-size: var(--main-fs-h1);
    padding-top: 0;
}
.hardskills{
    width: 100%;
padding-top: 50px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap:20px;
}
.hardskills-left{
    flex-grow:1;
    min-width: 300px;
display: flex;
/* border:solid red; */
}
.hardskills-left img{
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0  20px #999;
}
.hardskills-right{
    min-width: 300px;
    /* max-width: 700px; */
    flex-grow:1;
    /* border:solid red; */
}
.hardskills-right .progress:not(:first-child){
margin-top: 20px;
flex:1;
}
.hardskills-right .progress .progress-bar{
   margin-left: 5px;
   
}
.hardskills-right .progress span i{
    font-size: 30px;
    /* z-index: 20; */
    
}
.softskills{
    width: 100%;
padding-top: 50px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap:20px;
}
.content-skill{
    list-style-type: circle;
    font-size: calc(var(--main-fs-p) - 5px);
    min-width: 300px;
    flex-grow: 1;
    padding-left: 150px;
    /* border:solid red; */
}
@media (max-width:1025px){
.main-left{
    
    order: 2;
}
.main-right{
    justify-content: center;
    order: 1;
}
.wrapper {
    width: 350px;
    height: 350px;
}
.skills{
    padding: 0 5vmin;
    
}
.hardskills{
    flex-direction: column;
    /* border: solid red; */
    justify-content: center;
    align-items: center;
}
.hardskills-left img{
    width: 100%;
}
}
@media (max-width:769px){
    .navbar{
        font-size: 20px;
        
    }
    .collapse{
    margin-left: 0px;
}
.main{
    padding: 160px 0;
}
.main-left{
    padding-top: 70px;
    padding-left: 20px;
    order: 2;
}
.main-right{
    justify-content: center;
    order: 1;
}
.wrapper {
    width: 300px;
    height: 300px;
    /* box-shadow: 0 0 0 15px #6c6c6c, 0 0 0px 30px #999, 0 0 0px 45px #e9e9e9; */
}
.skills{
    padding: 0 5vmin;
    
}
.skills-h1{
    text-align: center;
    font-size: calc(var(--main-fs-h1) - 20px);
    padding-top: 0;
}
.content-skill{
    list-style-type: circle;
    font-size: calc(var(--main-fs-p) - 5px);
    min-width: 300px;
    flex-grow: 1;
    padding-left: 50px;
    /* border:solid red; */
}
}
@media (max-width:426px){
    .main{
        gap: 0;
        padding-bottom: 0;
    }
    .main-left{
    padding-left: 50px;
    /* border: solid green; */
    
}
.wrapper {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 15px #6c6c6c, 0 0 0px 30px #999, 0 0 0px 45px #e9e9e9;
}
.hello{
    width:100px;
}
.hello p{
    margin-bottom: 0;
    padding: 5px 10px;
    
    font-size: calc(var(--main-fs-p) - 15px);
    font-weight: 500;
}
.main-left h1{
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: calc(var(--main-fs-h1) - 30px);
    font-weight: 700;
}
.main-left .webdev{
    letter-spacing: 1px;
    word-spacing: 6px;
    font-size: calc(var(--main-fs-p) - 10px);
    font-weight: 500;
}
.skills{
    padding: 0px 10vmin;
    justify-content: center;
    align-items: center;
}
.skills-h1{
    text-align: center;
    font-size: calc(var(--main-fs-h1) - 20px);
    padding-top: 0;
}
.content-skill{
    list-style-type: circle;
    font-size: calc(var(--main-fs-p) - 10px);
    min-width: 300px;
    flex-grow: 1;
    padding: 10px;
    /* border:solid red; */
}
}